---
layout: home
title: Brilliantine
---

<section class="news">
  <h2>News</h2>
  {% for post in site.posts %}
    {% if post.section == 'news' %}
      <article class="article">
        <p class="article-date">
          {{ post.date | date: '%Y.%m.%d' }}
        </p>
        <h3>{{ post.title }}</h3>
        {{ post.content }}
      </article>
    {% endif %}
  {% endfor %}
</section>

<section class="releases">
  <h2>Releases</h2>
  {% for post in site.posts %}
    {% if post.section == 'releases' %}
      <article class="release">
        {{ post.content }}
      </article>
    {% endif %}
  {% endfor %}
</section>
