<footer class="clear">
  <p class="copyright">
    <span>&copy; {{ site.time | date: '%Y' }} Brilliantine</span>
  </p>

  <div class="links">
    <ul>
      <li>
        <a href="mailto:info@infobrilliantine.com">Email</a>
      </li>
      <li>
        <a href="http://twitter.com/INFOBRILL000">Twitter</a>
      </li>
      <li>
        <a href="http://soundcloude.com/infobrill000">Soundcloud</a>
      </li>
    </ul>
    <p class="soundcloud">
      <a href='http://soundcloud.com/infobrill000/dropbox' class='soundcloud-dropbox'>Send me your sounds</a>
    </p>
  </div>


  <!--
    Designed by [heycarsten](http://heycarsten.com)
  -->
</footer>
