body.admin
  h1, h2, h3
    font-size: 2em
    font-weight: bold
  table
    width: 100%
  th, td
    padding: 3px 0
  th
    font-weight: bold
    border-bottom: 1px solid #ddd
  tr:nth-child(even) td
    background: rgba(0, 0, 0, 0.05)
  tr:nth-child(odd) td
    background: rgba(0, 0, 0, 0.03)
  .starting, .running
    background: #efe
    font-weight: bold
  .paused, .warn
    background: #ffe
  .cancelled, .error
    background: #fee

article.release
  border-top: 1px solid #ddd
  float: left
  font-size: 12px
  &:nth-child(odd)
    margin-left: 22px

.release-details
  margin: 0
  padding-top: 6px
  padding-bottom: 22px
  dt
    +hide
  dd
    margin: 0
  dd.release-no
    color: #999
  dd.artwork
    padding-top: 6px
