.releases-index
  h2
    width: 440px
    padding-bottom: 6px
    margin: 0
  article.release
    margin: 0
    padding: 16px 0
    border-top: 1px solid #ddd
  .release-details
    font-size: 13px
    width: 240px
    float: left
    .artist, .album
      font-weight: bold
      font-size: 16px
    .release-no
      font-size: 12px
      margin-top: -6px
      margin-bottom: 6px
    dd
      margin-left: 22px
  .artwork
    width: 220px
    float: left
  .commerce-links
    font-size: 12px
    text-align: center
    li
      line-height: 0.8
      border-left: 1px solid #bbb
      padding: 0 4px
      display: inline-block
      &:first-child
        padding-left: 0
        border-left: none
      &:last-child
        padding-right: 0

  .description
    width: 480px
    float: right

.track-list
  margin: 12px 18px
  list-style: decimal
  li
    font-size: 12px
    line-height: 1.5
    margin: 0
    padding: 0
