---
layout: default
title: Brilliantine Releases
---

<section class="releases-index">
  <h2>Releases</h2>
  {% for post in site.categories.releases %}
    <article class="release clear">
      <div class="artwork">
        <p>
          <a href="{{ post.url }}"><img alt="" src="{{ post.coverart }}"></a>
        </p>
        <dl class="release-no">
          <dt class="hide">Release No.<dt>
          <dd>{{ post.brill_id }} / {{ post.date | date: "%Y.%m.%d" }}<dd>
        </dl>
      </div>
      <dl class="release-details">
        <dt>Artist</dt>
        <dd class="artist">
          {% comment %}
            {% if post.artist_slug %}
              <a href="/artists/{{ post.artist_slug }}">{{ post.artist }}</a>
            {% else %}
              {{ post.artist }}
            {% endif %}
          {% endcomment %}
          {{ post.artist }}
        </dd>
        <dt>Albumen</dt>
        <dd class="album">
          <a href="{{ post.url }}">{{ post.album }}</a>
        </dd>
        <dt>Track List</dt>
        <dd>
          <ol class="track-list">
            {% for track in post.tracks %}
              <li>{{ track }}</li>
            {% endfor %}
          </ol>
        </dd>
      </dl>
      <div class="description">
        {{ post.content }}
        <ul class="commerce-links">
          {% if post.beatport %}
            <li><a href="{{ post.beatport }}">Beatport</a></li>
          {% endif %}
          {% if post.junodownload %}
            <li><a href="{{ post.junodownload }}">Juno Download</a></li>
          {% endif %}
          {% if post.itunes %}
            <li><a href="{{ post.itunes }}">iTunes</a></li>
          {% endif %}
        </ul>
      </div>
    </article>
  {% endfor %}
</section>
