<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/brilliantine.css">
    <link href="/news.atom" type="application/atom+xml" rel="alternate" title= "News Articles">
  </head>
  <body>
    {{ content }}
    <script type='text/javascript'>
      // var _gaq = _gaq || [];
      // _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
      // _gaq.push(['_trackPageview']);
      // (function() {
      //   var ga = document.createElement('script');
      //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //   ga.setAttribute('async', 'true');
      //   document.documentElement.firstChild.appendChild(ga);
      // })();
    </script>
  </body>
</html>
